html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #c3f5dc;
    color: #333;
}

main {
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: 80px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.role-table {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 1200px;
    width: 100%;
    position: relative; 
}

/* Column Styling */
.basic {
    background: #d4edda;
    
}

.advanced {
    background: #c3e6cb;
}

.ultimate {
    background: #a5d6a7;
}

th {
    color: black;
}

th img{
    width: 45px;
    height: 45px;
}

/* Tick & Cross Icons */
td img {
    width: 24px;
    height: 24px;
}

/* Alternating Row Colors */
tbody tr:nth-child(even) {
    background-color: #f1f8e9;
}

/* Hover Effect */
tbody tr:hover {
    background-color: #dcedc8;
    transition: 0.3s;
}
