*{
	margin: 0;
	padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background:  #A3D1C6;
	min-height: 100vh;
}
section{
	margin-top: 80px;
	margin-bottom: 20px;
}
.title{
    padding-top: 30px;
    font-size: xx-large;
    color: #fff;
    font-weight: 1000;
    text-align: center;
}
.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container .card {
	position: relative;
	width: 300px;
	height: 400px;
	background: #fff;
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .images {
	position: relative;
	width: 250px;
	height: 250px;
	overflow: hidden;
}

.container .card .content .images img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
    border-radius: 5%;
  
}
.container .card .content .images img:hover{
    /* filter: grayscale(100%); */
    transition: filter 0.2s ease-in-out;
 
}

.container .card .content .Name h3 {
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 20px;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .Name h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container .card .content-text{
	position: absolute;
	bottom: 20px;
	display: flex;
    width: 200px;
    color: #000;
   margin-top: 20px;

}

.container .card .content-text:hover {
	position: absolute;
	bottom: 20px;
	display: flex;
    width: 200px;
}

.container .card .content-text li {
	list-style: none;
	margin: 10px;
	transform: translateX(40px);
	transition: 0.5s;
	opacity: 0;
    color: black;
	font-weight: lighter;
    font-weight: 40px;
}

.container .card:hover .content-text li {
	transform: translateY(0px);
	opacity: 2;
}

.editor {
    padding: 10px;
    text-align: center;
}

.editor a {
    color: #000;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    font-weight: bold;
    
    text-decoration: none;
}